[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
Pillow = "*"

[dev-packages]
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mpl = "*"

[requires]
python_version = "3.6"